<div *ngIf="selectedUser" class="chat-window">
    <div class="chat-header">
        <div class="d-flex">
            <img class="profile-image" src="{{ selectedUser.profileImage }}" />
            <h2>{{ selectedUser.fullName }} ({{ selectedUser.userName }})</h2>
        </div>
    </div>
    <div class="messages">
        <div
            *ngFor="let message of messages | async; trackBy: trackByFn"
            [ngClass]="{
                sent: isSentByCurrentUser(message),
                received: !isSentByCurrentUser(message)
            }"
        >
            <p>{{ message.message }}</p>
            <span class="timestamp">{{
                message.timestamp?.toDate() | date : "shortTime"
            }}</span>
        </div>
    </div>
    <div class="form">
        <form (ngSubmit)="sendMessage()" class="message-form">
            <input
                [(ngModel)]="newMessage"
                name="message"
                placeholder="Type a message..."
                required
            />
            <button type="submit">Send</button>
        </form>
    </div>
</div>
<div *ngIf="!selectedUser" class="no-chat-selected">
    <p>Please select a user to start chatting.</p>
</div>
