.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.chat-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.spinner{
  position: absolute !important;
  top: 45%;
  right: 45%;
  z-index: 1;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

.messages div {
  min-width: 30%;
  max-width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 15px;
  position: relative;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
}

.timestamp {
  font-size: 0.8em;
  color: #999;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.message-form {
  display: flex;
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.message-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #0056b3;
}

.no-chat-selected {
  text-align: center;
  font-size: 1.2em;
  color: #666;
}

.profile-image{
  height: 40px;
  aspect-ratio: 2/2;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width:480px){
  input{
    width: 80%;
    height: 40px;
  }

  button{
    padding: 5px 10px;
    height: 40px;
  }
}