<div class="container">
    <div class="about-box">
        <div class="header">
            <h3>Welcome to doublehash!</h3>
        </div>
        <div class="main">
            <p>
                doublehash is a personal project designed to explore and
                experiment with social media platform development.
            </p>
            <p>
                This site was created purely for educational and creative
                purposes, and it serves as a space to test new ideas, learn
                about web technologies, and share experiences with a small
                community.
            </p>
            Please note that doublehash is not affiliated with, endorsed by, or
            associated with any other social media platforms or companies.
            <p>
                All content and features are original and developed
                independently. Any resemblance to other platforms is
                coincidental and unintentional.
            </p>
            <p>
                This project is non-commercial and aims to comply with all
                relevant copyright laws.
            </p>
        </div>
        <div>
            <p>
                Explore the world of doublehash by
                <a routerLink="/login">logging in</a>
            </p>
        </div>
    </div>
</div>
