<div class="container">
    <div class="about-box">
        <div class="header">
            <h3>Welcome to doublehash!</h3>
        </div>
        <div class="main">
            <p>
                Doublehash is a personal project designed to explore and
                experiment with social media platform development.
            </p>
            <p>
                This site was created purely for educational and creative
                purposes, and it serves as a space to test new ideas, learn
                about web technologies, and share experiences with a small
                community.
            </p>
            <p>
                Please note that doublehash is not affiliated with, endorsed by,
                or associated with any other social media platforms or
                companies.
            </p>
            <p>
                All content and features are original and developed
                independently. Any resemblance to other platforms is
                coincidental and unintentional.
            </p>
            <p>
                This project is non-commercial and aims to comply with all
                relevant copyright laws.
            </p>
            <p>Made by Harsh Kumar in India. &copy; All Rights Reserved</p>
            <p>
                Reach out for any queries/suggestions
                <a href="mailto:7789harshkumard@gmail.com">
                    Drop an Email
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        <div>
            <p>
                <a class="icons" href="mailto:7789harshkumard@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a class="icons" href="https://github.com/harsh334">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a
                    class="icons"
                    href="https://www.linkedin.com/in/harsh-kumar-493a5a20a/"
                >
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </p>
            <p>
                Explore the world of doublehash by
                <a class="cursor-pointer" (click)="redirectToLogin()">
                    logging in <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</div>
