<div class="navbar">
    <div class="logo">
        <div class="heading">DoubleHash</div>
    </div>
    <div class="search-container">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div class="search-wrapper">
                <i class="fa fa-search"></i>
                <input
                    class="search-field"
                    formControlName="searchText"
                    type="text"
                    placeholder="Search"
                />
            </div>
        </form>
        <div class="search-results-container" *ngIf="filteredUsers.length">
            <div
                class="search-result"
                *ngFor="let user of filteredUsers"
                routerLink="/others-profile/{{ user.key }}"
                (click)="clearFilteredUsers()"
            >
                <img
                    src="{{
                        user.profileImage ? user.profileImage : defaultUserImage
                    }}"
                    alt="Profile Image"
                />
                <span>{{ user.userName }}</span>
            </div>
        </div>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
        <i class="fa {{ isMenuOpen ? 'fa-times' : 'fa-bars' }}"></i>
    </div>
    <div class="navigation-icons" [ngClass]="{ show: isMenuOpen }">
        <div routerLink="/chats" (click)="closeMenu()">
            <i class="fa fa-comments-o" aria-hidden="true"></i> Chat
        </div>
        <div routerLink="/security" (click)="closeMenu()">
            <i class="fa fa-user-secret" aria-hidden="true"></i> Profle
        </div>
    </div>
</div>
