<!-- <div class="user-list">
    <div *ngFor="let user of users" (click)="selectUser(user)">
        <p>{{ user.userEmail }}</p>
    </div>
</div> -->
<ul class="list-unstyled chat-list mt-2 mb-0">
    <li class="clearfix" *ngFor="let user of users" (click)="selectUser(user)">
        <img src="{{ user.profileImage }}" alt="avatar" />
        <div class="about">
            <div class="name">{{ user.fullName }}</div>
            <div class="status">
                <i class="fa fa-circle offline"></i> {{ user.userName }}
            </div>
        </div>
    </li>
</ul>
